body {
  background-color: rgb(245, 233, 233);
}

.App footer {
  text-align: center;
  margin-top: 30px;
}

.App h1 {
  text-align: center;
  margin-top: 80px;
  margin-bottom: 50px;
}

.rhap_progress-section {
  display: none;
}

.App h3 {
  font-size: 30px;
  margin-bottom: 20px;
}
