body {
  background-image: url("background4.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.App footer {
  text-align: center;
  margin-top: 5px;
  margin-bottom: 30px;
  font-size: 14px;
  opacity: 0.7;
}

.App h1 {
  text-align: center;
  margin-top: 80px;
  margin-bottom: 80px;
  font-size: 80px;
  font-family: "Caveat", cursive;
}

.rhap_progress-section {
  display: none;
}

.App h3 {
  font-size: 30px;
  margin-bottom: 20px;
}

.App a {
  text-decoration: none;
  color: #9c6317;
}

@media (max-width: 1000px) {
  .App body {
    padding: 30px;
  }
  .App .container {
    background-repeat: no-repeat;
  }
  .App footer {
    font-size: smaller;
  }
}
