body {
  background-image: url("background4.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.App footer {
  text-align: center;
  margin-top: 5px;
  margin-bottom: 30px;
  font-size: 14px;
  opacity: 0.7;
}

.App h1 {
  text-align: center;
  margin-top: 80px;
  margin-bottom: 80px;
  font-size: 50px;
}

.rhap_progress-section {
  display: none;
}

.App h3 {
  font-size: 30px;
  margin-bottom: 20px;
}
