section {
  background-color: #eed8c7;
  padding: 30px;
  border-radius: 6px;
  margin: 20px 300px;
  box-shadow: 0px 5px 30px #9b6319;
}

input {
  width: 100%;
  padding: 6px 4px;
  border-radius: 6px;
  color: #333;
  border: 1px solid black;
}

.title {
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: bold;
  font-family: "Bad Script", cursive;
}

.error {
  font-size: 30px;
  font-family: "Caveat", cursive;
  text-align: center;
}

form {
  margin-bottom: 30px;
}

@media (min-width: 1000px) {
  input {
    width: 100%;
    padding: 6px 4px;
    border-radius: 6px;
    color: #333;
    border: 1px solid black;
  }

  .title {
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: bold;
    font-family: "Bad Script", cursive;
  }

  form {
    margin-top: 10px;
    margin-bottom: 30px;
  }
}
